footer {
    padding: var( --Padding25);
    height: var(--Footer);
    /* background: gray; */

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    align-items: end;

    text-align: center;

    & .FooterDivider {
        height: 1px;
        width: 100%;
        background: var( --FontBread);
    }

    & .creatorParagraph {
        font-size: 14px;
    }
}