#_404-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 35rem 15rem;
    overflow: hidden;

    & div {
        /* transform-origin: top left; */
        animation: fadeIn 1s ease-in-out;
        display: grid;
        padding: var( --Padding25);
        align-items: end;


        & h1 {
            font-size: 20rem;
        }

        & h2 {
            font-size: 4rem;
            font-weight: 400;
        }

    }
    & .vertical-aligned {
        justify-content: end;


        & h2 {
            padding-right: 4rem;
            font-style: italic;
            writing-mode:sideways-lr;
            text-align: center;
        }
        /* text-orientation:upright; */
    }

    & ._404Div {
        grid-area: 1 / span 2;
    }

    & .resourceDiv {
        grid-area: 2 / 2 / 3 / 4;

        & a {
            height: 100%;
            border: 2px solid black;
            padding: var(--Padding10) 2rem;
            border-radius: var(--Border-Radius);
            
            color: var( --black);
            font-size: 2rem;
            font-weight: 200;
            letter-spacing: 2px;
            /* text-align: center; */

            display: flex;
            align-items: center;
            justify-content: center;

            transition: all .3s ease;
        }

        & a:hover {
            color: var( --white);
            background: var( --black);
        }

    }
}

@keyframes fadeIn {
    from {
        background: var(--black);
        color: var(--white);
        /* opacity: 0; */
        /* scale: 1; */
        /* transform: translate( 0, -100%); */
        /* opacity: .6; */
        /* scale: .95; */
    }
    /* 10% {scale: .95;} */
    50% { color: var(--black);}

    to {
        scale: 1;
    }
}