@import url('/css/archivo.css');
@import url('/css/clash-display.css');

:root {
    /* COLORS */
    --background: #F4F3EF;
    --white: #FFFFFF;
    --black: #000000;
    --FontBread: #4E4E4E;
    
    /* FONTS */
    --Clash-Display: ClashDisplay-Variable;
    --Archivo: Archivo-Variable;

    /* UTILITY */
    --Footer: 5rem;
    --Nav: 8rem;

    --Padding10: 10px;
    --Padding25: 25px;
    --Border-Radius: 15px;
    --Border-Radius-Small: 5px;

    /* CALCULATIONS */
    --FooterDouble: calc(var(--Footer)*2);
    --NavDouble: calc( var(--Nav)*2);

}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body, #root {
    overscroll-behavior: none;
    background: var(--background);

    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto;
    padding-top: calc( var(--Nav) - var(--NavDouble));
    margin-bottom: calc(var(--Footer) - var(--FooterDouble));
    width: 85vw;

    & .gridContainer {

        height: calc( 100vh - calc(var(--Footer) + var(--Nav)));


        display: grid;
        background: var(--black);
        padding: 2px;
        gap: 2px;

        & div {
            border-radius: var(--Border-Radius-Small);
            background: var(--white);
        }

    }
}

#wrapper::before {
    content: '';
    display: block;
    height: var(--Nav);
}

#wrapper::after {
    content: '';
    display: block;
    height: var(--Footer);
}

h1, h2, h3 {
    font-family: var(--Clash-Display);
    font-weight: 700;
    line-height: 83%;

    margin: unset;
}

p {
    font-family: var(--Archivo);
    color: var(--FontBread);
    font-weight: 300;
    line-height: 120%;

}

.internal-link {
    font-family: var(--Archivo);
    text-decoration: none;
}

.internal-link:visited {
    color: inherit;
}

